.checkout-detail {
    width: 100%;
    margin: 60px 0;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 40px;
}

.checkout-detail .order-data {
    width: 100%;
}

.checkout-detail .order-data .order-data-item {
    margin-bottom: 30px;
}

.checkout-detail .order-data .order-data-item h1 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 10px;
}

.checkout-detail .order-data .order-data-item .order-data-form {
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 20px 30px;
    width: 100%;
}

.checkout-detail .order-data .order-data-item .order-data-form .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.checkout-detail .order-data .order-data-item .order-data-form .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.checkout-detail
    .order-data
    .order-data-item
    .order-data-form
    .form-input
    label {
    margin-bottom: 5px;
}

.checkout-detail
    .order-data
    .order-data-item
    .order-data-form
    .form-input
    input,
.checkout-detail
    .order-data
    .order-data-item
    .order-data-form
    .form-input
    textarea {
    width: 100%;
    padding: 8px 10px;
    outline: none;
    background: #ffffff;
    border: 1px solid #acacac;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.checkout-detail .order-data .order-data-item .order-data-form .equal-radio {
    display: flex;
    gap: 60px;
    margin-bottom: 30px;
}

.checkout-detail .order-data-description {
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 15px 20px;
    height: fit-content;
    margin-top: 60px;
    min-width: 100%;
}

.checkout-detail .order-data-description h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.checkout-detail .order-data-description hr {
    border: 0.5px dashed #acacac;
    margin-bottom: 10px;
}

.checkout-detail .order-data-description .travel-name {
    font-weight: 500;
    font-size: 20px;
    color: #7b7b7b;
    margin-bottom: 10px;
}

.checkout-detail .order-data-description .ticket-desc {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: #7b7b7b;
    margin-bottom: 10px;
}

.checkout-detail .order-data-description .ticket-desc img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}

.checkout-detail .order-data-description .order {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.checkout-detail .order-data-description .order.price {
    margin-top: 20px;
    align-items: flex-end;
}

.checkout-detail .order-data-description .order .label {
    font-size: 12px;
    color: #7b7b7b;
}

.checkout-detail .order-data-description .order .desc {
    font-size: 12px;
    color: #212121;
}

.checkout-detail .order-data-description .order.price .desc {
    font-weight: 500;
    font-size: 24px;
    color: #6d67e4;
}

.pay-desc {
    width: 60%;
    padding-left: 40px;
    position: relative;
    margin-bottom: 100px;
}

.pay-desc h1 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 10px;
}

.pay-desc .total-pay-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 20px 30px;
}

.pay-desc .total-pay-box .total-pay {
    font-weight: 700;
    font-size: 32px;
    color: #6d67e4;
}

.pay-desc .btn-pay {
    background: #6d67e4;
    border-radius: 10px;
    color: #fff;
    padding: 10px 80px;
    outline: none;
    border: none;
    margin-top: 20px;
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .checkout-detail {
        margin: 30px 0;
        padding: 0 20px;
        flex-direction: column;
        gap: 20px;
    }

    .checkout-detail .order-data {
        width: 100%;
    }

    .checkout-detail .order-data .order-data-item .order-data-form {
        padding: 10px 15px;
    }

    .pay-desc {
        padding: 0 20px;
        width: 100%;
    }

    .pay-desc .total-pay-box {
        padding: 10px 15px;
    }

    .pay-desc .total-pay-box p {
        font-size: 12px;
    }

    .pay-desc .total-pay-box .total-pay {
        font-size: 20px;
    }

    .pay-desc .btn-pay {
        width: 100%;
        position: static;
    }
}
