.back-button {
    display: none;
    text-decoration: none;
    color: #6d67e4;
    gap: 20px;
}

.description {
    margin: 0 40px;
}

.description .main-description {
    margin-top: 40px;
    margin-bottom: 30px;
}

.description .main-description .wisata-name {
    font-weight: 500;
    font-size: 36px;
}

.description .main-description .locate {
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #7b7b7b;
}

.description .galeries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 400px;
}

.description .galeries img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description .galeries img:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
    border-radius: 10px 0 0 10px;
}
.description .galeries img:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}
.description .galeries img:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
    border-radius: 0 10px 0 0;
}
.description .galeries img:nth-child(4) {
    grid-area: 2 / 3 / 3 / 4;
}
.description .galeries img:nth-child(5) {
    grid-area: 2 / 4 / 3 / 5;
    border-radius: 0 0 10px 0;
}

.detail {
    width: 100%;
    margin-top: 30px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.detail h3 {
    font-weight: 500;
    font-size: 32px;
}

.detail .detail-content {
    min-width: 60%;
}

.detail .detail-content .locate {
    margin-top: 20px;
}

.detail .detail-content .locate-detail {
    gap: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.detail .detail-content .locate-detail a {
    text-decoration: none;
    min-width: fit-content;
}

.detail .detail-content .locate-detail a .button-map {
    padding: 8px 20px;
    background-color: #6d67e4;
    color: #fff;
    border-radius: 10px;
}

.detail .detail-content .gmap {
    width: 100%;
    margin-top: 10px;
    height: 250px;
}

.detail .detail-content {
    margin-top: 20px;
}

.detail .price-bar {
    min-width: 30%;
    border: 1px solid #cacaca;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
    position: sticky;
    top: 100px;
}

.detail .price-bar .price {
    font-weight: 400;
    font-size: 18px;
    color: #7b7b7b;
}

.detail .price-bar .price h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #6d67e4;
}

.detail .price-bar a {
    text-decoration: none;
}

.detail .price-bar .button-ticket {
    width: 100%;
    background: #6d67e4;
    border-radius: 10px;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 10px;
}

.detail .price-bar .feature {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-top: 20px;
}

.detail .price-bar .feature i {
    font-size: 32px;
}

.detail .price-bar .feature .feature-desc h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.detail .price-bar .feature .feature-desc p {
    font-size: 16px;
    color: #7b7b7b;
}

.ticket-catalog {
    width: 100%;
    padding: 90px 40px;
}

.ticket-catalog h3 {
    font-weight: 500;
    font-size: 32px;
}

.ticket-catalog .catalog-item {
    border: 1px solid #acacac;
    border-radius: 20px;
    padding: 20px 30px;
    margin-top: 20px;
}

.ticket-catalog .catalog-item h4 {
    font-weight: 400;
    font-size: 20px;
}

.ticket-catalog .catalog-item hr {
    border: 1px dashed #acacac;
    margin-top: 20px;
    margin-bottom: 15px;
}

.ticket-catalog .catalog-item .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-catalog .catalog-item .row .price {
    font-weight: 500;
    font-size: 24px;
    color: #6d67e4;
}

.ticket-catalog .catalog-item .row .btn-pilih {
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #6d67e4;
    padding: 10px 40px;
    cursor: pointer;
}

.ticket-catalog .catalog-item .dropdown hr {
    border-style: solid;
}

.ticket-catalog .catalog-item .dropdown .order-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-catalog .catalog-item .dropdown .order-form {
    display: flex;
    gap: 60px;
}

.ticket-catalog .catalog-item .dropdown .order-form label {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ticket-catalog .catalog-item .dropdown .order-form label i {
    font-size: 24px;
}

.ticket-catalog .catalog-item .dropdown .order-form .order-date .date {
    width: fit-content;
}

.ticket-catalog .catalog-item .dropdown .order-form .order-date .date p {
    width: fit-content;
    height: 0px;
}

.ticket-catalog .catalog-item .dropdown .order-form .order-date .date input {
    opacity: 0;
}

.ticket-catalog .catalog-item .dropdown .order-form .order-date .date span {
    font-size: 12px;
}

.ticket-catalog
    .catalog-item
    .dropdown
    .order-form
    .visit-number
    .input-number {
    display: flex;
}

.ticket-catalog
    .catalog-item
    .dropdown
    .order-form
    .visit-number
    .input-number
    .btn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: 0.5px solid #6d67e4;
    background-color: #6d67e4;
    color: #fff;
    border-radius: 5px;
}

.ticket-catalog
    .catalog-item
    .dropdown
    .order-form
    .visit-number
    .input-number
    .btn.btn-min {
    background-color: #fff;
    color: #6d67e4;
}

.ticket-catalog
    .catalog-item
    .dropdown
    .order-form
    .visit-number
    .input-number
    input {
    display: none;
}

.ticket-catalog
    .catalog-item
    .dropdown
    .order-form
    .visit-number
    .input-number
    span {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6d67e4;
    font-weight: 500;
}

.ticket-catalog .catalog-item .dropdown .order-detail .btn-submit {
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #6d67e4;
    padding: 10px 40px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .back-button {
        display: flex;
        margin: 10px 20px;
        position: absolute;
        left: 10px;
        top: 0px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border: 1px solid rgba(255, 255, 255, 1);
        padding: 10px;
        transition: ease all 0.5s;
    }

    .back-button.onscroll {
        position: fixed;
        top: -10px;
        left: -20px;
        width: 100%;
        border-radius: 0;
    }

    .back-button i {
        font-size: 30px;
        color: #6d67e4;
    }

    .back-button h3 {
        display: none;
        opacity: 0;
    }

    .back-button.onscroll h3 {
        display: block;
        opacity: 1;
    }

    .description {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 20px;
        margin-top: 20px;
    }

    .description .main-description {
        margin-top: 10px;
    }

    .description .main-description .wisata-name {
        font-size: 24px;
    }

    .description .main-description .locate i {
        font-size: 16px;
    }

    .description .main-description .locate span {
        font-size: 14px;
    }

    .description .galeries {
        display: inline;
        aspect-ratio: 1 / 1;
    }

    .description .galeries img {
        display: none;
    }

    .description .galeries img:nth-child(1) {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    .detail {
        padding: 0 20px;
        flex-direction: column-reverse;
        margin-top: 10px;
        gap: 10px;
    }

    .detail h3 {
        font-size: 24px;
    }

    .detail p {
        font-size: 14px;
    }

    .detail .price-bar {
        position: static;
    }

    .detail .detail-content .locate-detail {
        flex-direction: column;
        gap: 10px;
    }

    .ticket-catalog {
        padding: 90px 20px;
    }

    .ticket-catalog h3 {
        font-size: 24px;
    }

    .ticket-catalog .catalog-item {
        padding: 10px 15px;
        border-radius: 10px;
    }

    .ticket-catalog .catalog-item .dropdown .order-detail {
        flex-direction: column;
        gap: 30px;
    }

    .ticket-catalog .catalog-item .dropdown .order-form {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }

    .ticket-catalog .catalog-item .dropdown .order-form label {
        font-size: 12px;
    }

    .ticket-catalog .catalog-item .dropdown .order-detail .btn-submit {
        font-weight: 400;
        font-size: 16px;
        width: 100%;
    }
}
