/* Hero */
.hero {
  position: relative;
  margin: 10px 10px;
  height: 620px;
  border-radius: 20px;
  overflow: hidden;
}

.hero .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  z-index: 1;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
  color: #fff;
  z-index: 2;
}

.hero .text h1 {
  font-size: 60px;
  line-height: 60px;
}

.hero .text a {
  text-decoration: none;
}

.hero .text .btn-explore {
  width: fit-content;
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
  padding: 8px 30px;
  background-color: #6d67e4;
  border-radius: 5px;
}
/* Category List */
.category {
  width: 100%;
  padding: 20px 40px;
  position: sticky;
  top: 80px;
  z-index: 8;
  background-color: #fff;
}

.category .category-list {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  overflow-x: scroll;
}

.category .category-list .category-item {
  padding: 10px 15px;
  background-color: #fff;
  color: #6d67e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #6d67e4;
  border-radius: 10px;
  cursor: pointer;
  gap: 10px;
  transition: ease all 0.5s;
}
.category .category-list .category-item i {
  font-size: 18px;
}
.category .category-list .category-item span {
  font-size: 14px;
}

.category .category-list .category-item.active,
.category .category-list .category-item:hover {
  background-color: #6d67e4;
  color: #fff;
}

/* wisata */
.wisata {
  margin: 20px 0;
  padding: 0 40px;
}

.wisata .wisata-list {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.wisata .wisata-list .wisata-item {
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  color: #212121;
}

.wisata .wisata-list .wisata-item .thumbnail {
  width: 100%;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border: #fff;
}

.wisata .wisata-list .wisata-item .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all ease 0.5s;
}

.wisata .wisata-list .wisata-item .thumbnail:hover img {
  transform: scale(1.2);
  transition: all ease 3s;
}

.wisata .wisata-list .wisata-item .name {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.wisata .wisata-list .wisata-item .address {
  font-size: 14px;
  color: #7b7b7b;
  margin-bottom: 5px;
}

.wisata .wisata-list .wisata-item .price {
  font-weight: 700;
  font-size: 16px;
}

.wisata .wisata-list .wisata-item .price span {
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .wisata .wisata-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 786px) {
  .hero {
    height: 100vh;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .hero .text {
    left: 40px;
  }

  .hero .text h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .category {
    padding: 20px;
  }

  .category .category-list {
    gap: 5px;
  }

  .category .category-list .category-item {
    border-radius: 10px;
  }

  .category .category-list .category-item i {
    font-size: 15px;
  }

  .category .category-list .category-item span {
    font-size: 10px;
  }

  .wisata {
    padding: 0 20px;
  }

  .wisata .wisata-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .wisata .wisata-list .wisata-item .name {
    font-size: 14px;
  }

  .wisata .wisata-list .wisata-item .address {
    font-size: 10px;
  }

  .wisata .wisata-list .wisata-item .price {
    font-size: 14px;
    font-weight: 600;
  }
}
