nav.home {
  width: 100%;
  position: absolute;
  z-index: 9;
  padding: 0 20px;
  top: 10px;
  transition: all ease 0.3s;
}

nav {
  position: sticky;
  width: 100%;
  z-index: 9;
  top: 0;
  padding: 0;
}

nav.home.onscroll {
  position: fixed;
  top: 0;
  padding: 0;
}

nav .nav-container {
  display: flex;
  width: 100%;
  left: 0;
  height: 80px;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: all ease 0.3s;
}

nav.home .nav-container {
  border-radius: 15px;
}

nav.home.onscroll .nav-container {
  border-radius: 0px;
  transition: all ease 0.3s;
}

.nav-mobile {
  display: none;
  width: 100%;
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9;
  justify-content: center;
  align-items: center;
  gap: 55px;
  border-radius: 40px 40px 0 0;
  background: #ffffff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
}

.nav-mobile a {
  text-decoration: none;
  color: #7b7b7b;
}

.nav-mobile a.active {
  text-decoration: none;
  color: #6d67e4;
}

.nav-mobile a .nav-mobile-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-mobile a .nav-mobile-button i {
  font-size: 22px;
  color: #cecece;
}
.nav-mobile a.active .nav-mobile-button i {
  color: #6d67e4;
}

.nav-mobile a .nav-mobile-button span {
  font-size: 10px;
  color: #7b7b7b;
  font-weight: 400;
}
.nav-mobile a.active .nav-mobile-button span {
  color: #212121;
  font-weight: 400;
}

nav .nav-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

nav .nav-brand img {
  height: 32px;
}

nav .nav-brand span {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #6d67e4;
}

nav .nav-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav .nav-search .search-input {
  position: relative;
  width: 320px;
  height: 40px;
}

nav .nav-search .search-input input {
  width: 100%;
  height: 100%;
  border: 0.5px solid #cecece;
  border-radius: 60px;
  outline: none;
  padding: 10px 20px;
}
nav .nav-search .search-input input::placeholder {
  font-family: "Exo", sans-serif;
  color: #7b7b7b;
}

nav .nav-search .search-input .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d67e4;
  border-radius: 50%;
}

nav .nav-search .search-input .icon i {
  color: #ffffff;
  font-size: 14px;
}

.nav-button {
  display: flex;
  gap: 10px;
}

.nav-button a {
  text-decoration: none;
}

.button {
  color: #ffffff;
  background-color: #6d67e4;
  border: 2px solid #6d67e4;
  border-radius: 20px;
  padding: 8px 27px;
  font-weight: 700;
}

.button.outline {
  color: #6d67e4;
  background-color: #ffffff;
  border: 2px solid #6d67e4;
}

@media screen and (max-width: 992px) {
  nav .nav-container {
    justify-content: center;
  }

  nav .nav-brand,
  nav .nav-button {
    display: none;
  }

  nav .nav-search {
    position: static;
    transform: none;
    width: 100%;
    max-width: 500px;
  }

  nav .nav-search .search-input {
    width: 100%;
  }

  .nav-mobile {
    display: flex;
  }
}

@media screen and (max-width: 786px) {
  nav {
    padding: 0;
  }

  nav.home {
    padding: 10px;
  }
  nav .nav-container {
    padding: 20px;
  }
}
